@media(max-width: 1200px) {
    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.6rem !important;
    }
}

@media(max-width: 790px) {
    .toggle-btn-left {
        top: -5px !important;
        left: 0 !important;
        border-radius: 0px 0px 6px 0px !important;
    }

    article {
        padding-left: 0;
    }

    section {
        padding: 30px 20px 20px 20px;
    }

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.6rem !important;
    }

    article .topo {
        justify-content: space-between;
        flex-direction: column;
        gap: 14px;
    }

    article .topo h1 {
        font-size: 4rem;
    }

    article .topo ol.listmenu {
        padding-right: 0 !important;
    }

    .bl-text {
        width: 24%;
        padding: 4px 0;
        font-size: 20px;
    }
}